.awesome{
    width: 100%;
    
    background-color: #FFFFFF;
}


.awesome-titel{
    margin-top: 100px;
}

.awesome-titel:after{
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #D98943;
}

.awesome-description{
    margin-top: 30px;
    margin-bottom: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
    text-align: center;
}

.awesome-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.awesome-item{
    display: inline-block;
    margin-top: 31px;
    width: 350px;

}

.awesome-item__titel{
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    color: #333333;
    font-weight: 700;
}

.awesome-item__text{
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.awesome-item__img{
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 50%;
    margin: auto;    
    text-align: center;
}

.icon-lamp{
    display: block;
    margin: 19px auto;
}

.icon-keyboard{
    display: block;
    margin: 21px auto;
}

.icon-lightning{
    display: block;
    margin: 19px auto;
}


