.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:  #000000;
}

.footer-wrap{
   
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    background-color:#000000 ;
}

.footer-icon_item{
    color: #fff;
}



.footer-icon{
    list-style-type: none;
    display: flex;
    
}

.footer-icon_item{
 font-size: 18px;
 margin-left: 40px;
 
}
 
.footer-text{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5)
}