.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:  #000000;
}

.footer-wrap{
   
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    background-color:#000000 ;
}

.footer-icon_item{
    color: #fff;
    list-style: none;
    
}



.footer-icon{
    display: flex;
}

.footer-icon_item{
 font-size: 18px;
 margin-left: 40px;
}

.footer-icon_item:hover{
    transform: scale(1.5, 1.5);
    color: white;
    cursor: pointer;
}

.footer_item-facebook:hover{
    background-color: rgb(67, 98, 235);  
}

.footer_item-twitter:hover{
    background-color: rgb(105, 169, 221);
}

.footer_item-google:hover{
    background-color: rgb(245, 84, 43);
}

.footer_item-pinterest:hover{
color: rgb(221, 8, 8);
background-color:  #fff;

}

.footer_item-stumbleupon:hover{
    background-color: rgb(245, 84, 43);
}
 
.footer_item-instagram:hover{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.footer_item-rss:hover{
    background-color: rgb(255, 145, 0);
}

.footer-text{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5)
}