.pricing{
    width: 100%;
    background-color: #E5E5E5;
    
}


.pricing-titel{
    padding-top: 80px;
}

.pricing-titel:after{
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    margin: 0 auto;
    margin-top: 34px;
    background-color: #E72424;
}

.pricing-description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    
    color: #86878B;
    text-align: center;
    margin-top: 34px;

}

.pricing-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    margin: 0 -15px;
    flex-wrap: wrap;
   
}

.pricing-item{
    margin: 0 15px;
}

.pricing-card{
    list-style-type: none;
    width: 340px;
    

}
/*Basic*/
.pricing-card_basic{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #333333;
    
   
    line-height: 50px;
    color: #ffffff;
    text-align: center;
}

.pricing-card_basic_price{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 1px;
    text-align: center;
    line-height: 100px;
    background-color: #333333;
    color: #ffffff;
}

.pricing-card_basic_duration{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #333333;
    margin-top: 1px;
   
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    transition: 0.3s;
}

.pricing-card_basic_product{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    margin-top: 1px;
   
    line-height: 50px;
    color: #86878B;
    text-align: center;
    transition: 0.3s;
}

.pricing-card_basic_product:hover{
    cursor: pointer;
    border:0.5px solid rgb(28, 30, 31);
    font-size: 20px;
    color: black;
   
}

.pricing-card_basic_duration:hover{
cursor: pointer;
font-size: 22px;

}


/*optima*/



.pricing-card_optima{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #333333;
    
   
    line-height: 50px;
    color: #ffffff;
    text-align: center;
}

.pricing-card_optima_price{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 1px;
    text-align: center;
    line-height: 100px;
    background-color: #333333;
    color: #ffffff;
}

.pricing-card_optima_duration{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #D98943;
    margin-top: 1px;
   
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    transition: .3s;
}

.pricing-card_optima_product{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    margin-top: 1px;
   
    line-height: 50px;
    color: #86878B;
    text-align: center;
    transition: 0.3s;
}

.pricing-card_optima_product:hover{
    cursor: pointer;
    border:0.5px solid rgb(28, 30, 31);
    font-size: 20px;
    color: black;
   
}

.pricing-card_optima_duration:hover{
    cursor: pointer;
    font-size: 22px;
    
}

/*Pro*/

.pricing-card_pro{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #333333;
    
   
    line-height: 50px;
    color: #ffffff;
    text-align: center;
}

.pricing-card_pro_price{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 1px;
    text-align: center;
    line-height: 100px;
    background-color: #333333;
    color: #ffffff;
}

.pricing-card_pro_duration{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #333333;
    margin-top: 1px;
   
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    transition: .3s;
}

.pricing-card_pro_product{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    margin-top: 1px;
   
    line-height: 50px;
    color: #86878B;
    text-align: center;
    transition: .3s;
}


.pricing-card_pro_product:hover{
    cursor: pointer;
    border:0.5px solid rgb(28, 30, 31);
    font-size: 20px;
    color: black;
}

.pricing-card_pro_duration:hover{
    cursor: pointer;
    font-size: 22px;
}