.social{
    margin-top: 0 auto;
    width: 100%;
    background-color: #F8EFEF;
    

}

.social-wrap{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    
    
}

.social-wrap_item{
    width: 365px;
    margin: 0 15px;
}

.social-titel{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 0;
}

.social-description{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #86878B;
    margin-top: 14px;
    margin-bottom: 0;
    padding-bottom: 17px;
}

.social-icon{
    display: flex;
    margin-top: 35px;
    font-size: 40px;
    
    list-style: none;    
}

.social-icon_item{
    color: #86878B;
    text-decoration: none;
    margin-left: 65px;
}

.social-icon_item:hover{
    cursor: pointer;
    transform: scale(1.5, 1.5);
    color: #bbbdc5;
}




